*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/
/app/src/main/java/com/myandroid/calkulator/
/app/src/androidTest/java/com/myandroid/calkulator/
/app/src/test/java/com/myandroid/calkulator/
/app/src/main/res/drawable/
/app/src/debug/res/drawable/
/app/src/main/res/drawable-v24/
/app/src/main/res/font/
/app/src/main/res/layout-v31/
/app/src/main/res/layout/
/app/src/main/res/mipmap-xhdpi/
/app/src/main/res/mipmap-mdpi/
/app/src/debug/res/mipmap-hdpi/
/app/src/debug/res/mipmap-xxhdpi/
/app/src/main/res/mipmap-xxxhdpi/
/app/src/main/res/mipmap-anydpi-v26/
/app/src/debug/res/mipmap-xhdpi/
/app/src/main/res/mipmap-hdpi/
/app/src/debug/res/mipmap-anydpi-v26/
/app/src/main/res/mipmap-xxhdpi/
/app/src/debug/res/mipmap-mdpi/
/app/src/debug/res/mipmap-xxxhdpi/
/app/src/main/res/values/
/app/src/main/res/values-night/
